
server:
  BindAddress: "0.0.0.0:8000"
  SecureBindAddress: "-"

providers:
  - id: primary_oidc
    provider: keycloak-oidc

    clientID: auth-proxy-client
    clientSecret: a5tAGfAvr1A2nACmPRSlxMTJyJ6yoEuq
    scope: "openid email"

    oidcConfig:
      issuerURL: "https://idp.keycloak.local/realms/dev"
      userIDClaim: "sub"
      emailClaim: "email"
      audienceClaims:
        - "aud"
      insecureSkipNonce: true # required to session cookie refresh work

    loginURLParameters:
      - name: prompt
        allow:
          - value: create

    code_challenge_method: "S256"

    backendLogoutURL: https://idp.keycloak.local/realms/dev/protocol/openid-connect/logout?id_token_hint={id_token}

    caFiles:
      - /caddy-data/caddy/pki/authorities/local/root.crt

injectResponseHeaders:

  - name: "X-Keycloak-User-Id"
    preserveRequestValue: false
    values:
      - claim: "user"

  - name: "X-Identity-Provider-Id"
    preserveRequestValue: false
    values:
      # base64("primary_oidc")
      - value: "cHJpbWFyeV9vaWRjCg=="
